.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(246, 246, 247, 0.5);

  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 23vh;

  z-index: 1000;
}
.modal {
  background: #fff;
  text-align: center;
  padding: 24px;
  border-radius: 12px;
  min-width: 400px;
  height: auto;

  box-shadow: 0 10px 25px rgba(7, 3, 71, 0.15);
  outline: none;
  animation: fadeIn 0.2s ease-out;
}

.modal-text {
  color: #070347;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 600;
}
.modal-quetion {
  color: #313131;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 24px;
}
.modal-name {
  color: #070347;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.cancel-btn {
  background-color: #e0e7ff;
  color: #4f46e5;
  border: none;
}
.cancel-btn:hover {
  background-color: #c7d2fe;
}

@keyframes modalScaleUp {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
